/* Created by: Bain Liao
* Created on: May 2025
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: #F00;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  color: #929292;
}

.page-content {
  color: #000;
  font-family: "Times New Roman", Times, monospace;
  font-size: 1.25rem;
  text-align: center;
  display: block;
  width: 100%;
}

body {
  background-color: #dbf8fa;
}

img {
  height: 200px;
  width: 200px;
}
